<template>
  <div class="pokemon-detail bg-beige">
    <header class="bg-blue grid grid-cols-10 p-1 py-2">
      <div class="col-span-6">
        <span class="border rounded-full px-2 text-sm"
          >No {{ formattedId }}</span
        >
        {{ pokemon.name }}
      </div>
      <!-- <div class="col-span-3">
        <span class="bg-blue-light mr-1 px-2 py-1 text-xs rounded-full"
          >Stalking Pokemon</span
        >
      </div> -->
      <div class="col-span-4 justify-self-end">
        <span
          v-for="type in pokemon.types"
          :key="type"
          class="uppercase mr-1 text-xs bg-blue-dark py-1 px-2"
          >{{ type }}</span
        >
      </div>
    </header>
    <div class="grid grid-cols-10 py-4">
      <div class="col-span-6">
        <div
          class="before:border-8 before:absolute before:-top-3 before:-left-2 after:border-8 after:absolute after:-bottom-3 after:-right-2 relative shadow-lg border-4 w-2/4 m-auto bg-gradient-radial from-white to-grey-light"
        >
          <LazyImage :src="imageUrl" />
        </div>
      </div>
      <div class="col-span-4">
        <div class="bg-blue mb-2 px-1 py-1 text-sm rounded-l-md">Stats</div>
        <div
          v-for="stat in pokemon.stats"
          :key="stat.name"
          class="flex bg-gradient-to-r from-blue-light/70 to-blue-light/50 mb-1 text-sm px-2 rounded-l-md"
        >
          <div class="basis-2/3">{{ stat.name }}</div>
          <div>{{ stat.base_stat }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from "@vue/reactivity";
import LazyImage from "../LazyImage/LazyImage.vue";

const props = defineProps({
  pokemon: {
    type: Object,
    required: true,
  },
});

const imageUrl = computed(
  () =>
    `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${props.pokemon.id}.png`
);
const formattedId = computed(() => {
  // const len = pokemon.id.toString().length;
  return props.pokemon.id.toString().padStart(3, "0");
});
</script>
