<script setup>
import { ref, watch } from "vue";
import { useIntersectionObserver } from "@vueuse/core";

const props = defineProps({
  src: {
    type: String,
    required: true,
  },
});

const img = ref();
const loaded = ref(false);

watch(
  () => props.src,
  () => {
    loadImage();
  }
);

const loadImage = () => {
  img.value.classList.remove("loaded");
  img.value.addEventListener("load", () => {
    setTimeout(() => img.value.classList.add("loaded"), 100);
    stop();
  });
  img.value.src = props.src;
};
const { stop } = useIntersectionObserver(img, ([{ isIntersecting }]) => {
  onVisibleChange(isIntersecting);
});
const onVisibleChange = (isVisible) => {
  if (isVisible && !loaded.value) {
    loadImage();
  }
};
</script>

<template>
  <img ref="img" :data-url="src" />
</template>
