<script setup>
import { useRoute } from "vue-router";

import PokeList from "../components/PokeList/PokeList.vue";

const route = useRoute();
</script>

<template>
  <div
    class="sm:grid sm:grid-cols-4 bg-main text-white py-4 sm:pl-0 sm:gap-4 max-h-[100%] sm:max-h-auto"
  >
    <div class="sm:col-span-3 sm:relative">
      <RouterView />
    </div>
    <PokeList :selected="route.params.id" class="h-[400px] relative" />
  </div>
</template>
