<template>
  <div class="pokemon-detail-wrapper bg-beige pl-4 pb-4 min-h-[200px]">
    <PokeCard
      v-if="pokemon.id && !isLoading"
      :pokemon="pokemon"
      class="shadow-2xl rounded-bl-2xl"
    ></PokeCard>
    <div v-if="isLoading" class="text-black">Loading ...</div>
  </div>
</template>

<script setup>
// import { computed } from "@vue/reactivity";
import { onMounted, ref, watch } from "vue";
import { useRoute } from "vue-router";
import PokeCard from "../components/PokeCard/PokeCard.vue";
import { fetchPokemon } from "../javascripts/api";

const route = useRoute();
const pokemon = ref({});
const isLoading = ref(false);

watch(
  () => route.params.id,
  () => {
    fetchData();
  }
);
function formatPokemon(pokemonRaw) {
  const {
    name,
    id,
    details: [{ types, stats, forms }],
  } = pokemonRaw;
  return {
    name,
    id,
    types: types.map((type) => type.details.name),
    forms,
    stats: stats.map((stat) => ({
      base_stat: stat.base_stat,
      name: stat.details.name,
    })),
  };
}
async function fetchData() {
  isLoading.value = true;
  const result = await fetchPokemon({ name: route.params.id });
  if (result.data) {
    pokemon.value = formatPokemon(result.data.pokemons[0] || {});
  }
  isLoading.value = false;
}

onMounted(() => fetchData());
</script>
