<template>
  <router-link
    ref="root"
    :to="`/${name}`"
    class="bg-gradient-to-r shadow-md flex items-center rounded-l-full p-1 gap-1"
    :class="bgClass"
  >
    <template v-if="!renderAsBlank">
      <div class="basis-2/5 max-w-[60px] h-auto rounded-full">
        <LazyImage class="w-full h-full" :src="imageUrl" />
        <!-- <img class="w-full h-full" :src="imageUrl" /> -->
      </div>
      <div class="">{{ name }}</div>
    </template>
  </router-link>
</template>

<script setup>
import { computed, ref } from "@vue/reactivity";
import { watch } from "vue";
import LazyImage from "../LazyImage/LazyImage.vue";

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  id: {
    type: Number,
    required: true,
  },
  selected: {
    type: Boolean,
    default: false,
  },
  isBlank: {
    type: Boolean,
    default: false,
  },
});

const imageUrl = computed(
  () =>
    `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${props.id}.png`
);
const bgClass = computed(() =>
  props.selected
    ? "from-beige/70 to-beige/30 -ml-3"
    : "from-black/30 to-black/5"
);

const root = ref();
const renderAsBlank = ref(false);
watch(
  () => props.isBlank,
  () => {
    if (props.isBlank) {
      console.log(root);
      // root.style.height = `${root.offsetHeight}px`;
      // renderAsBlank.value = true;
    } else {
      // renderAsBlank.value = false;
    }
  }
);
</script>
