<template>
  <div
    class="bg-gradient-to-r from-beige/30 to-beige/5 shadow-md flex items-center rounded-l-full p-1 gap-1"
  >
    <div class="basis-2/5 w-[60px] h-[60px] rounded-full"></div>
    <div></div>
  </div>
</template>
