<script setup>
import { onMounted, ref } from "vue";
import { computed } from "@vue/reactivity";
import { vIntersectionObserver } from "@vueuse/components";

import { fetchPokemons } from "@/javascripts/api";
import PokeListItemShimmer from "./PokeListItemShimmer.vue";
import PokeListItem from "./PokeListItem.vue";

const SCROLL_OFFSET = 200;

const props = defineProps({
  selected: {
    type: String,
    default: "",
  },
});

const pokemons = ref([]);
const page = ref(0);
const total = ref(0);
const list = ref(null);
const isLoading = ref(false);
const offset = computed(() => page.value * 100);
const visibility = ref({});

onMounted(async () => {
  fetchData();
});
// Unused for now
const onIntersectChange = ([{ isVisible, target }]) => {
  visibility.value[target.dataset.poke] = isVisible;
};
const onListScroll = () => {
  if (total.value > 0 && !isLoading.value) {
    const bottomOfWindow =
      list.value.scrollHeight - list.value.scrollTop - list.value.offsetHeight;
    // console.log(bottomOfWindow);
    if (
      bottomOfWindow <= SCROLL_OFFSET &&
      pokemons.value.length < total.value
    ) {
      page.value += 1;
      fetchData();
    }
  }
};

const fetchData = async () => {
  isLoading.value = true;
  const result = await fetchPokemons({ offset: offset.value });
  if (result.data) {
    pokemons.value = [...pokemons.value, ...result.data.pokemons];
    total.value = result.data.aggregate.aggregate.count;
  }
  isLoading.value = false;
};
</script>

<template>
  <div>
    <div class="fixed bg-black/50 px-2 py-1 rounded-2xl">Select a pokemon</div>
    <div
      ref="list"
      id="list"
      class="pt-10 pl-3 overflow-y-scroll max-h-[100%]"
      @scroll="onListScroll"
    >
      <template v-for="pokemon in pokemons" :key="pokemon.id">
        <PokeListItem
          :id="pokemon.id"
          :name="pokemon.name"
          :selected="pokemon.name === props.selected"
          :data-poke="pokemon.id"
          class="mb-2 min-h-[55px] max-h-[80px]"
          :is-blank="visibility[pokemon.id] === false"
        />
      </template>
      <template v-if="isLoading">
        <PokeListItemShimmer v-for="i in 10" :key="i" class="mb-2" />
      </template>
    </div>
  </div>
</template>
